**/.DS_Store
*~*
bower_components
nodes_module
.tmp
*.log
*.log.*
*.orig
*.class
*closure
classpath
.settings
*stacktrace
.classpath
.project
cards-frontend.iml
*/.link_to_grails_plugins
*/.DS_Store
.DS_Store
ml-build/
*/web-app/WEB-INF/classes
*/web-app/WEB-INF/tld
*/dtd/
*/target
*/target-eclipse
*/target/stacktrace.log
*/target/
*/target/classes
tmp
.idea/
webserver-grailsPlugins.iml
webserver.iml
new-test/sauce/sauce_connect.log
dump.rdb
new-test/listings/target
webserver/chromedriver
mocks/server/dump.rb
mocks/server/dump.rdb
weserver/reports
webserver/reports
webserver/.classpath
webserver/.project
tests/sauce/sauce_connect.log

dump.rdb
*/dump.rdb
tests/.gradle

tests/Load/build
tests/Load/.gradle
tests/Load/.gradle/
tests/Load/build
tests/Load/chromedriver
tests/Load/test/tests/listings/listings.iml tests/listings/listings.ipr tests/listings/listings.iws
dump.rdb
webserver/bin
.sass-cache/
*/.sass-cache/
webserver/web-app/css/*.map
node_modules
