<div ng-controller="PaymentsCtrl as payCtrl">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{{payCtrl.barrio}}</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">{{payCtrl.userName}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Período</th>
                    <th>Monto</th>
                    <th>Concepto</th>               
                    <th>Medio de Pago</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="payment in payCtrl.payments">
                    <td>{{payment.periodMonth}}/{{payment.periodYear}}</td>
                    <td>{{payment.totalAmount | currency:2}}</td>
                    <td>{{payment.detail}}</td>
                    <td>{{payment.type}}</td>
                    <td>
                        <span ng-class="{ label:true, 
                        'label-info':isLabelInfo(payment.status), 'label-default':isLabelDefault(payment.status), 'label-success':isLabelSuccess(payment.status),'label-danger':isLabelDanger(payment.status), 'label-error':isLabelError(payment.status)}">{{getStatusName(payment.status)}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>