<!doctype html>
<html ng-app="epantePagosApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/loading.css">
  </head>
  <body>

    <!-- Loading progress -->
    <div class="load-bar" ng-show="isLoading"><div class="bar"></div><div class="bar"></div><div class="bar"></div></div>
    <!-- End Loading progress -->

    <div class="container">
        <div class="well" ui-view="paymentsView"></div> 
    </div>

    <div class="footer">
      <div class="container"></div>
    </div>

    <!-- angular -->
<!--     <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>     
        <script src="//angular-ui.github.io/ui-router/release/angular-ui-router.js"></script> -->



    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../../bower_components/jquery/dist/jquery.js"></script>
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script> 
    <!-- App js -->    
    <script src="../scripts/epantePagosApp.js"></script>
    <!-- Controllers -->
    <script src="../scripts/controllers/paymentsCtrl.js"></script>    
    <!-- Services -->
    <script src="../scripts/services/utilsSrv.js"></script> 
    <script src="../scripts/services/paymentsSrv.js"></script>
</body>
</html>
