<form name="userForm" novalidate>  <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->

    <input type="text" name="name" ng-model="user.name" ng-minlength="3" ng-maxlength="8" placeholder="Name" /><br />
    Validaciones de longitud min 3 y max 8<br />
    <p ng-show="userForm.name.$error.minlength" class="help-block">Name is too short.</p>
  	<p ng-show="userForm.name.$error.maxlength" class="help-block">Name is too long.</p>

    <input type="email" ng-model="user.email" ng-model-options="{ updateOn: 'blur' }" placeholder="Email"/><br />
    Validaciones cuando saca el foco al input<br />

    <input type="email" ng-model="user.emailWithDomain" name="overwrittenEmail" placeholder="@serbita.com" overwrite-email />  <br />
    Sobreescribo la validacion primitiva de email. Debe contener @serbita.com<br /> 
	<span ng-show="userForm.overwrittenEmail.$error.email">This email format is invalid!</span>
	{{user.emailWithDomain}}<br>

    <input type="text" ng-model="user.username" placeholder="username"/><br />
    Validaciones de Existencia de usuario. Uso de $asyncValidators conocer la respuesta<br />

    Gender: <input type="radio" ng-model="user.gender" value="male" />male
    <input type="radio" ng-model="user.gender" value="female" />female<br />

	<select ng-model="user.provincia" ng-options="x for x in ['Cordoba', 'Mendoza', 'San Luis']"></select>    
    Validaciones de select seleccionado<br />

	<textarea ng-model="user.note" placeholder="Agregar una nota"></textarea>
    Validaciones de textarea<br />

    <input type="text" ng-model="user.birthdate" placeholder="birthdate"/><br />
    Validaciones de seteo de una fecha<br />

	I agree:<input type="checkbox" ng-model="user.agree" name="userAgree"/> <br />
    <div ng-show="!user.agree">Please agree and sign.</div>

    <input type="button" ng-click="reset()" value="Reset" />

    <input type="submit" ng-click="update(user)" value="Save" />

</form>

Falta ejemplo de campo required. Directiva


<br />
<pre>Pasaron todas las validaciones: SUCCESS</pre>
<pre>Objeto final: {"bla":"bla"}</pre>


https://code.angularjs.org/1.4.0/docs/guide/forms <br />
